body{
	background-color:#f8f8f8;
}

.book-library{
	background-color:#ffffff;
}
h1{
	text-align:center;
}
.book{
	border:1px solid black;
	margin-bottom:10px;
}
img{
	display:block;
	margin:0 auto;
	margin-top:20px;
}
h3{
	margin-left:10px;
}
.author{
	color:#777777;	
	margin-left:10px;
}
.price{
	background-color:#2ecc71;
	text-align:center;
	color:white;
	margin-left:20px;
	margin-right:20px;
	
}