/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	
}
h1{
	text-align:center;
	margin-bottom:10px;
	
}
.book-library{
	background-color:#ffffff;
	border:1px solid black;
	padding:20px;
	margin:20px;
}
.book{
	background-color:lightblue;
	border:1px solid black;
	padding:20px;
	margin:20px;
	
}
img{
	display: block;
    margin: 0 auto;    
    max-width: 100%;
}
#author{
	color:#777777;
	font-weight:bold;
	font-size:20px;
	opacity:1;
	
}
#price{
	color:#2ecc71;
	border:1px solid green;
	background-color:green;
	color:white;
	text-align:center;
}